# Ignore Mac system files
.DS_store

# Ignore compiled bytecode python files
*.pyc
__pycache__

# Ignore secrets
.env
secrets.toml

# Ignore virtual env
.venv

# Ignore external setup
.vscode

# ignore duckdb
*.duckdb
